div{
    width:300px;
    margin-bottom: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    height: 400px;
   
}
img{
    width: 100%;
}

a{
    padding:10px;
    background-color:lightblue;
    width: 50%;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 100px;
    border: 2px solid black;

}
button{
    background-color: blue;
    padding:10px;
    padding: 20px;
    color: white;

 
}
p{
    padding: 5px 10px;
}
